asgiref==3.11.1
Django==6.0.2
django-anymail==15.0
django-cors-headers==4.9.0
django-picklefield==3.4.0
django-q2==1.10.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
pillow==12.1.1
python-dotenv==1.1.1
redis==7.4.0
requests==2.33.1
psycopg2-binary==2.9.11
PyJWT==2.12.1
sqlparse==0.5.5
tzdata==2025.3
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
